<!DOCTYPE html>
  <html lang="pt">

  <%- include('partials/head.ejs') %>

    <body><!--Navegação menus-->
      <div class="container-fluid containerHeader">
          <%- include('partials/header.ejs') %>
          <h3</h3>
        </div>  

      <!-- Container Banner principal -->
      <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
          <div class="container">
            <br><br>
            <h1 class="header center blue-text text-lighten-2"><img class="responsive-img" src="/public/img/imgLogoRetangular.png"></h1>
            <div class="row center">
              <h5 class="header col s12 light">Visualizações incríveis para impusionar seu website</h5>
            </div>
            <div class="row center">
              <a  href="https://www.linkedin.com/in/ronni-novello-0aa1ab44/" target="_blank" 
              id="download-button" class="btn-large waves-effect waves-light blue lighten-1">Entre em contato</a>
            </div>
            <br><br>
    
          </div>
        </div>
        <div class="parallax"><img src="/public/img/bg2.jpg" alt="Unsplashed background img 1"></div>
      </div>

      <!-- Container Info-->
      <div class="container">
        <div class="section">

          <!--  Section 1  -->
          <div class="row">

            <div class="col s12 m4">             
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-symbols-outlined" style="font-size: 56px;">flash_on</i></h2>
                <h5 class="center">Criação de website personalizado</h5>    
                <p class="center">Divulgue seu produto ou serviço na internet.</p>
<!--
                <div class="container text-center">
                  <div class="row"> 
                    <div class="col align-self-start">
                      <img src="/public/img/dashboard.png" style="width: 200px;" alt="...">
                    </div>
                    <div class="col align-self-center">                    
                      <img src="/public/img/pricing.png" style="width: 200px;" alt="...">
                    </div>  
                    <div class="col align-self-end">
                      <img src="/public/img/product.png" style="width: 200px;" alt="...">
                    </div>
                  </div> 
                </div>
              -->
                
              </div>
            </div>

            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-symbols-outlined"style="font-size: 56px;">group</i></h2>
                <h5 class="center">Consultoria e monitoramento</h5>
    
                <p class="center">Melhoria contínua na exposição de seu produto ou serviço, se atualizando as novas tecnologias e mecanismos de divulgação na internet.</p>
              </div>
            </div>

            <div class="col s12 m4 icons">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-symbols-outlined" style="font-size: 56px;">code</i></h2>
                <h5 class="center">Tecnologias de Desenvolvimento</h5>
    
                <p class="center">Análise para desenvolvimento de aplicações web, mobile e desktop.</p>
                <!--
                  Front-End: 
                    <i class="material-symbols-outlined" style="font-size: 28px;">html</i>
                    <i class="material-symbols-outlined" style="font-size: 28px;">css</i>
                    <i class="material-symbols-outlined" style="font-size: 28px;">javascript</i>
                    
                    <i class="material-symbols-outlined">jQuery</i>     
                    <br />
                    <i class="material-symbols-outlined"></i>
                    <i class="material-symbols-outlined">Materialize</i>
                    <i class="material-symbols-outlined">Json</i>
                    <br />  <br />     
                  Back-End: 
                    <i class="material-symbols-outlined" style="font-size: 28px;">PHP</i>
                    <i class="material-symbols-outlined">Node.Js</i>     
                    <br />  <br />
                  APIs, Protocolos: 
                    <i class="material-symbols-outlined">REST</i>
                    <i class="material-symbols-outlined">GIT</i>
                    <br />  <br />
                  Banco de dados SQL:                     
                    <i class="material-symbols-outlined">Oracle</i>                
                    <br />  <br />
                  Outras linguagens de programação:
                    <i class="material-symbols-outlined">Delphi</i> 
                    -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Container Info 2-->
      <div class="container">
        <div class="section">
          <div class="row center">
            
            <div class="col s12 center">
              <h3><i class="mdi-content-send brown-text"></i></h3>
              <h4>Como podemos lhe ajudar ? Entre em contato!</h4>      
            </div>
          </div>

          <ul class="collapsible">
            <li>
              <div class="collapsible-header">
                <i class="material-icons">share</i>
                <a href="https://www.linkedin.com/in/ronni-novello-0aa1ab44" target="_blank">Linkedin</a>
              </div>
              <div class="collapsible-body"><p></p></div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="material-icons">filter_drama</i>
                <a href="https://github.com/rcnovello?tab=repositories" target="_blank">Github</a>      
                <span class="new badge">1 Project</span></div>
              <div class="collapsible-body"><p></p></div>
            </li>
          </ul>
    
        </div>
      </div>    
    
      <!-- Container Info 3-->
      <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot  no-margin-mobile">          
          <div class="container no-margin-mobile">
            <div class="row center">
              <div class="row"><h5>Sites responsivos para sua empresa, loja virtual, blog, portfólios, e outros tipos de serviços.</h5>
              </div>
              <div class="row">
                <img class="responsive-img" src="/public/img/imgModelosSItesSemFundo.png" >
              </div>                
            </div>
          </div>
          <div class="container"> 
            <div class="row center">              
                <h5>Clientes</h5>
            </div>
            <div class="row center">                
              <div class="col s3">                  
                <span class="material-symbols-outlined">
                  shoppingmode
                  </span>
                <a class="white-text text-darken-2" href="https://www.frprodutos.com.br/" target="_blank">FRProdutos</a>                
              </div>                
              <div class="col s3">
                <span class="material-symbols-outlined">
                  rss_feed
                  </span>
                <a class="white-text text-darken-2" href="https://comofazerinformatica.com.br/" target="_blank">Como Fazer Infomatica</a>
              </div>  
              <div class="col s3">
                <span class="material-symbols-outlined">
                  work
                  </span>
                <a class="white-text text-darken-2" href="#" target="_blank">Adv.Serviços Jurídicos</a>
              </div>     
              <div class="col s3">
                <span class="material-symbols-outlined">
                  candlestick_chart
                  </span>
                <a class="white-text text-darken-2" href="#" target="_blank">Invest</a>
              </div>
            </div>                       
          </div>             
        </div>
          <div class="parallax"><img src="/public/img/bg2.jpg"></div>  
      </div>
           
     <!--Footer-->
     <%- include('partials/footer.ejs') %>
     <!--Libs-->      
     <%- include('partials/lib-js.ejs') %>
     
    </body>
  </html>
