<!DOCTYPE html>
  <html lang="pt">
    <head>      

      <!--Import materialize.css-->
      <link rel="stylesheet" href="../public/materialize/css/materialize.min.css" rel="stylesheet"/>
      <!--Import default.css-->
      <link rel="stylesheet" href="../public/css/style.css" rel="stylesheet"/>
      <!--Import Google Icon Font-->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


      <title>RCN Dev</title>
     

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
      <nav class="white" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="#" class="brand-logo">RCN< web >DEV</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#">Navbar Link</a></li>
          </ul>
    
          <ul id="nav-mobile" class="sidenav">
            <li><a href="#">Navbar Link</a></li>
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
      </nav>

      <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
          <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">RCN< web >DEV</h1>
            <div class="row center">
              <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
            </div>
            <div class="row center">
              <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Entre em contato</a>
            </div>
            <br><br>
    
          </div>
        </div>
        <div class="parallax"><img src="../public/img/bground.jpeg" alt="Unsplashed background img 1"></div>
      </div>

      <div class="container">
        <div class="section">
    
          <!--   Icon Section   -->
          <div class="row">
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-symbols-outlined" style="font-size: 56px;">flash_on</i></h2>
                <h5 class="center">Criação de website personalizado</h5>
    
                <p class="light">Com investimneto mínimo divulgue seu produto ou serviço na internet.</p>
              </div>
            </div>

            <div class="col s12 m4 icons">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-symbols-outlined" style="font-size: 56px;">code</i></h2>
                <h5 class="center">Tecnologias de Desenvolvimento</h5>
    
                <p class="light">Análise e desenvolvimento de aplicações web, mobile e desktop.</p>
                
                  Front-End: 
                    <i class="material-symbols-outlined" style="font-size: 28px;">html</i>
                    <i class="material-symbols-outlined" style="font-size: 28px;">css</i>
                    <i class="material-symbols-outlined" style="font-size: 28px;">javascript</i>
                    
                    <i class="material-symbols-outlined">jQuery</i>     
                    <br />
                    <i class="material-symbols-outlined"></i>
                    <i class="material-symbols-outlined">Materialize</i>
                    <i class="material-symbols-outlined">Json</i>
                    <br />  <br />     
                  Back-End: 
                    <i class="material-symbols-outlined" style="font-size: 28px;">PHP</i>
                    <i class="material-symbols-outlined">Node.Js</i>     
                    <br />  <br />
                  APIs, Protocolos: 
                    <i class="material-symbols-outlined">REST</i>
                    <i class="material-symbols-outlined">GIT</i>
                    <br />  <br />
                  Banco de dados SQL:                     
                    <i class="material-symbols-outlined">Oracle</i>                
                    <br />  <br />
                  Outras linguagens de programação:
                    <i class="material-symbols-outlined">Delphi</i> 
              </div>
            </div>
    
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-symbols-outlined"style="font-size: 56px;">group</i></h2>
                <h5 class="center">Consultoria e monitoramento</h5>
    
                <p class="light">Melhoria contínua na exposição de seu produto ou serviço, se atualizando as novas tecnologias e mecanismos de divulgação na internet.</p>
              </div>
            </div>
    
            
          </div>
    
        </div>
      </div>

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="../public/materialize/js/materialize.min.js"></script>
    </body>
  </html>