
<footer class="page-footer blue">
    <div class="container">
        <div class="row">
        <div class="col l6 s12">
        <h5 class="white-text">Perfil de Desenvolvimento</h5>
            <p class="grey-text text-lighten-4">Uma estrutura de front-end responsiva moderna baseada em Material Design</p>
        </div>
        <div class="col l3 s12">
            <h5 class="white-text">Parceiros</h5>
            <ul>
            <li><a class="white-text" href="https://www.linkedin.com/in/ronni-novello" target="_blank">Linkedin</a></li>
            <!--<li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>-->
            </ul>
        </div>
        <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
            <li><a class="white-text" href="https://www.linkedin.com/in/ronni-novello" target="_blank">Linkedin</a></li>
            <li><a class="white-text" href="mailto:ronnicorrea@hotmail.com?">E-Mail</a></li>
            <!--<li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>-->
            </ul>
        </div>
        
        </div>
        <div class="row">
            <div class="col">
                <a class="white-text" target="_blank" href="./politica_privacidade"> Política de Privacidade e Proteção a Dados Pessoais  </a>
            </div>
        </div>
    </div>      

    <div class="footer-copyright">
        <div class="container center">
        © RCNDev | Todos os direitos reservados 2024 | Política de Privacidade<a class="brown-text text-lighten-3" href="http://materializecss.com"></a>
        </div>
    </div>
</footer>

<nav class="pushpin-demo-nav fixed grey darken-4" data-target="target-element" 
style="position: fixed; bottom: 0; left: 0; right: 0; height: auto;" hidden="true">

    <div class="nav-wrapper grey darken-4" style="height: 100%;">            
        <h6 class="center-align">
        Utilizamos cookies somente para aprimorar sua experiência de navegação em nosso site
        . Ao continuar navegando, você concorda com a utilização destes cookies. 
        <p>Conheça a nossa Política de Privacidade e Proteção a Dados Pessoais <a target="_blank" href="./politica_privacidade" class="blue-text"> (CLIQUE AQUI).</a>
        </h6>
        <div class="center-align">
            <button class="btn white black-text" onclick="setPrivacyPolicyCookie()">Continuar
            </button>      
        </div>       
    </div>
</nav>