<nav class="white" role="navigation">
    <div class="nav-wrapper container">

        <a id="logo-container" href="/">
        <img src="/public/img/imgLogoRetangular.png" width="150px" height="50">
        </a>
        <ul class="right hide-on-med-and-down">
        <li><a target="_blank" href="https://comofazerinformatica.com.br">Acesse: comofazerinformatica.com.br</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
        <li><a target="_blank" href="https://comofazerinformatica.com.br">Acesse: comofazerinformatica.com.br</a></li>
        </ul>
        <a target="_blank" href="https://comofazerinformatica.com.br" data-target="nav-mobile" class="sidenav-trigger">
        <i class="material-icons">Menu</i>
        </a>
    </div>
    </nav>